body{
    background-color: #354152;

    /* background-image: url("/img/sz9ihI.png"); */


}

.content{
    width: 80%;
    min-height: 30em;
    height: auto;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    border: #404040 outset 20px;


}




.topnav {
    background-color: black;
    overflow: hidden;
    size: 100px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: dimgray;
    color: white;
}

.topnav a.loguit {
    float: right;
}
