#wwRegistreer {
    margin-left: 20px;
    margin-top: 20px;
    display: block;
}

h2 {
    margin-left: 20px;
}

#gebruikerRegistreer {
    margin-left: 20px;
    margin-top: 20px;
}

#errorp11 {
    margin-left: 20px;
    color: #ff1a1a;
}

#Registreerbuttonscheids {
    margin-left: 20px;
    margin-top: 20px;
}
