#nummer{
    margin-left: 20px;
    margin-top: 20px;

}
#thuisclub{
    margin-left: 20px;
    margin-top: 20px;

}
#thuisteam{
    margin-left: 20px;
    margin-top: 20px;

}
#uitClub{
    margin-left: 20px;
    margin-top: 20px;

}
#uitTeam{
    margin-left: 20px;
    margin-top: 20px;

}
#veld{
    margin-left: 20px;
    margin-top: 20px;

}
#date{
    margin-left: 20px;
    margin-top: 20px;

}

#buttonWedscomp {
    margin-left: 20px;
    margin-top: 20px;

}

h2 {
    margin-left: 20px;
}

#labelcompnummer{
    margin-left: 20px;

}

#errorp7{
    margin-left: 20px;
    color: #ff1a1a;
}

#errorp8{
    margin-left: 20px;
    color: #ff1a1a;
}

#dateDiv{
    display: block;
}


#een {
    margin-left: 20px;
}

#twee {
    margin-left: 20px;
}

#drie {
    margin-left: 20px;
}

#vier {
    margin-left: 20px;
}

#vijf {
    margin-left: 20px;
}

#dateDiv {
    margin-left: 20px;
}
