#input-field1nummer{
    margin-left: 20px;

}

h2 {
    margin-left: 20px;
    margin-top: 20px;
}

#input-field2Club {
    margin-top: 20px;
    margin-left: 20px;

}

#input-field3Team {
    margin-top: 20px;
    margin-left: 20px;

}

#teamcompbutton{
    margin-top: 20px;
    margin-left: 20px;
}

#errorp10{
    margin-left: 20px;
    color: #ff1a1a;
}

#cc1 {
    margin-left: 20px;
}

#cc2 {
    margin-left: 20px;
}

#cc3 {
    margin-left: 20px;
}
